{% extends 'base.html' %}

{% load static %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_home.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div id="home-content">
                <h1>Opros - Начать</h1>
                <h3>Проголосуйте</h3>
                <hr>
                <button type="button" class="btn btn-light btn-lg">Начать</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
